body {
  margin: 0;
  color: white;
  overflow: hidden !important;
  font-family: 'Hepta Slab', serif;
}

#ARCanvas {
  display: none;
}

#threeCanvas {
  z-index: 10;
  /*outline: 1px solid red;
  outline-offset: -1px;*/
}

#webcamVideo {
  z-index: 1;
  object-fit: cover;
  /*outline: 3px solid lime;
  outline-offset: -3px;*/
}
 
#threeCanvas, #webcamVideo {
  left: 0;
  top: 0;
  height: 100vh!important;
  width: 100vw!important;
  position: fixed;
}

a {
  text-decoration: none;
  color: #499fd1;
}
a:hover {
  color: white;
}

.userManual {
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 20;
  top: 33vh;
  line-height: 2em;
  background-color: rgba(0,0,0,0.4);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 1;
  transition: opacity 1s;
}

.notice {
  font-weight: bold;
  background-color: rgba(0,0,0,0.4);
  font-size: 22px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  z-index: 20;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.noticeText {
  margin-bottom: 0.5em;
}